@import "tailwindcss";
@config "../tailwind.config.js";

.bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db30 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db30 3px, transparent 1px);
  background-size: 80px 80px;
}

.dark .bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db08 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db08 3px, transparent 1px);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
}

.hero-section {
  position: relative;
}

.hero-section:after {
  content:"";
  position: absolute;
  top: -30%;
  right: 0%;
  z-index: -1;
  width: 400px;
  height: 300px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(50px);
}

.hero-section:before {
  content:"";
  position: absolute;
  bottom: 8%;
  left: -5%;
  z-index: -1;
  width: 300px;
  height: 250px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(50px);
}