@import "tailwindcss";
@config "../tailwind.config.js";

/* Utilities */
button {
  cursor: pointer;
  transition: all 0.3s;
}

form input, form textarea {
  font-family: 'poppins';
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background:#2C0A1C ;
}

::-webkit-scrollbar-thumb:hover {
  background: #60183E;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Sections */
section {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100vw;
}

/* Hero Section */
.hero-section:after {
  content:"";
  position: absolute;
  top: -30%;
  right: 0%;
  z-index: -1;
  width: 350px;
  height: 300px;
  background-color: purple;
  border-radius: 50%;
  opacity: 0.1;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-pulse 4s infinite 2s;
}

.hero-section:before {
  content:"";
  position: absolute;
  bottom: 2%;
  left: -2%;
  z-index: -1;
  width: 300px;
  height: 250px;
  background-color: purple;
  border-radius: 50%;
  opacity: 0.1;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-pulse 4s infinite 2s;
}

.bubble-text::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 5px;
  bottom: -20px;
  background-color: #C95792;
}

.bubble-text::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0px;
  bottom: -35px;
  background-color: #C95792;
}

/* About Section */
.rotating-logo {
  max-width: 400px;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* Mission Section */
.mission-card {
  position: relative;
  overflow: hidden;
  transition: filter 600ms ease-out;
}

.mission-card:hover {
  filter: brightness(1.1);
}

.mission-card::after {
  content:"";
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #E3A661;
  border-radius: 50%;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-card-pulse 4s infinite 2s;
}

.mission-card::before {
  content:"";
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #E361A4;
  border-radius: 50%;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-card-pulse 4s infinite 2s;
}

/* Background */
.gradient-bg {
  background: linear-gradient(to right, #E97FC2, #EE7C59);
}

.reverse-gradient-bg {
  background: linear-gradient(to left, #E97FC2, #EE7C59);
}

.bg-grid:has(.landing-layout) {
  background-image:
    linear-gradient(to right, #d1d5db30 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db30 3px, transparent 1px);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-size: 100px 100px;
}

.dark .bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db08 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db08 3px, transparent 1px);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
}

.circle-illustration {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  filter: blur(4px);
  animation: 
    circle-fade-in 2s ease-in forwards,
    circle-float 30s infinite linear;
}
.text-gradient {
  background: linear-gradient(to right, #C95792, #F3B182);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: bold;
}
/* keyframes */
@keyframes infinite-pulse {
  0% {
    opacity: 0.1;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.1;
    transform: scale(0.8);
  }
}

@keyframes infinite-card-pulse {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.8;
    transform: scale(0.8);
  }
}

@keyframes circle-fade-in {
  0% { opacity: 0; }
  100% { opacity: var(--opacity); }
}

@keyframes circle-float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(calc(var(--rand1) * 1px), calc(var(--rand2) * 1px)); }
  50% { transform: translate(calc(var(--rand3) * 1px), calc(var(--rand4) * 1px)); }
  75% { transform: translate(calc(var(--rand5) * 1px), calc(var(--rand6) * 1px)); }
  100% { transform: translate(0, 0); }
}