@import "tailwindcss";
@config "../tailwind.config.js";

/* Utilities */
button {
  cursor: pointer;
  transition: all 0.3s;
}

form input, form textarea {
  font-family: 'poppins';
  font-size: 0.8rem;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background:green ;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Sections */
section {
  position: relative;
}

section:not(.banner-section) {
  padding-left: 5%;
  padding-right: 5%;
}

section:not(.hero-section) {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Hero Section */
.hero-section:after {
  content:"";
  position: absolute;
  top: -30%;
  right: 0%;
  z-index: -1;
  width: 350px;
  height: 300px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.1;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-pulse 4s infinite 2s;
}

.hero-section:before {
  content:"";
  position: absolute;
  bottom: 2%;
  left: -2%;
  z-index: -1;
  width: 300px;
  height: 250px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.1;
  transform: scale(0.8);
  filter: blur(50px);
  animation: infinite-pulse 4s infinite 2s;
}

/* Background */
.bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db30 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db30 3px, transparent 1px);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-size: 100px 100px;
}

.dark .bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db08 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db08 3px, transparent 1px);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
}

.circle-illustration {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  filter: blur(4px);
  animation: 
    circle-fade-in 2s ease-in forwards,
    circle-float 30s infinite linear;
}

/* keyframes */
@keyframes infinite-pulse {
  0% {
    opacity: 0.1;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.1;
    transform: scale(0.8);
  }
}

@keyframes circle-fade-in {
  0% { opacity: 0; }
  100% { opacity: var(--opacity); }
}

@keyframes circle-float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(calc(var(--rand1) * 1px), calc(var(--rand2) * 1px)); }
  50% { transform: translate(calc(var(--rand3) * 1px), calc(var(--rand4) * 1px)); }
  75% { transform: translate(calc(var(--rand5) * 1px), calc(var(--rand6) * 1px)); }
  100% { transform: translate(0, 0); }
}