@import "tailwindcss";
@config "../tailwind.config.js";

.bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db30 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db30 3px, transparent 1px);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-size: 100px 100px;
}

.dark .bg-grid {
  background-image:
    linear-gradient(to right, #d1d5db08 3px, transparent 1px),
    linear-gradient(to bottom, #d1d5db08 3px, transparent 1px);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
}

.hero-section {
  position: relative;
}

.hero-section:after {
  content:"";
  position: absolute;
  top: -25%;
  right: -5%;
  z-index: -1;
  width: 400px;
  height: 250px;
  background-color: green;
  border-radius: 50%;
  opacity: 0;
  filter: blur(50px);
  animation: hero-pulse 2s forwards;
  animation-delay: 2s; 
}

.hero-section:before {
  content:"";
  position: absolute;
  bottom: 5%;
  left: -8%;
  z-index: -1;
  width: 300px;
  height: 250px;
  background-color: green;
  border-radius: 50%;
  opacity: 0;
  filter: blur(50px);
  animation: hero-pulse 2s forwards;
  animation-delay: 2s; 
}

@keyframes hero-pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.circle-illustration {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  filter: blur(4px);
  animation: 
    circle-fade-in 2s ease-in forwards,
    circle-float 30s infinite linear;
}

@keyframes circle-fade-in {
  0% { opacity: 0; }
  100% { opacity: var(--opacity); }
}

@keyframes circle-float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(calc(var(--rand1) * 1px), calc(var(--rand2) * 1px)); }
  50% { transform: translate(calc(var(--rand3) * 1px), calc(var(--rand4) * 1px)); }
  75% { transform: translate(calc(var(--rand5) * 1px), calc(var(--rand6) * 1px)); }
  100% { transform: translate(0, 0); }
}